@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please check your email and confirm your email address.
</p>
<p class="text-danger">
    Service(SendGrid) is a really slow, use this <a href="@ViewBag.Link">link</a> to skip waiting for email.
</p>
