.document-container {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.document-section {
    flex: 1;
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
}

.document-section:first-child {
    margin-right: 20px;
}

.document-editor textarea {
    display: block;
    width: 100%;
    height: calc(100vh - 164px);
    resize: none;
    outline: none;
    border: 0;
    overflow: auto;
    box-shadow: none;
}
