body {
    margin-top: 50px;
    height: calc(100% - 50px);
}

html, #content, #wrapper, #flex-grid {
    height: 100%;
}

#flex-grid {
    overflow-x: hidden;
    display: flex;
    width: 100%;
}

#content-wrapper {
    flex: 1;
}

a {
    cursor: pointer;
}

.form-control-static {
    margin-top: 12px;
    margin-bottom: 12px;
}
