@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Projise <small>Project Management System</small></h1>
    <p class="lead">A collaborative tool helping you keep track of tasks, documents, ideas and more.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Offline capabilities</h3>
        <p>Projise works in occasionally connected scenarios. Keep working and it will sync when you come back online.</p>
    </div>
    <div class="col-md-6">
        <h3>Realtime updates</h3>
        <p>Near instantaneous updates of what colleagues are working on.</p>
    </div>
</div>

