.dropzone {
    border: 1px dashed black;
}

.dropzone-story {
    display: block;
    height: 100px;
}

.story-toolbar {
    position: relative;
    display: table;
    width: 100%;
}

.story-toolbar > div {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

.story-toolbar button {
    margin-top: 2px;
}

.story-item {
    border: 1px solid black;
    margin-top: -1px;
    display: table;
    width: 100%;
}

.story-item-points {
    display: table-cell;
    width: 50px;
    padding: 0;
    font-size: 2em;
    color: #555;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    vertical-align: middle;
}

.story-item-body {
    display: table-cell;
    padding: 10px;
}

.story-in-sprint {
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
}


/*bg-<status> from bootstrap */
.story-filter-buttons button.completed {
    background-color: #dff0d8;
}

.story-filter-buttons button.in-progress {
    background-color: #d9edf7;
}

.story-filter-buttons button.not-started {
    background-color: #f2dede;
}

button.show-all {
    background-color: #fff;
}

.story-filter-buttons button.active, .story-filter-buttons button:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.250);
}
